<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f34d03b026.js" crossorigin="anonymous"></script>
    <title>MINI HACKATON</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.png">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <main id="programa-jovem-programador">

        <header class="main-header">
            <div class="top-banner"></div>
            <nav class="main-nav">
                <div class="nav-container">
                    <div class="logo">
                        <a href="#">
                            <img src="../static/jovemprogramador_logo.png" alt="Logo Jovem Programador">
                        </a>
                    </div>
                    <ul class="nav-links">
                        <li><a href="#"> Carreiras do Futuro com IA</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">Impacto nas Carreiras</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">aristoteles</a></li>
                                <li><a href="#">gustavo</a></li>
                                <li><a href="#">hudson</a></li>
                                <li><a href="#">renato</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"></i>Mini Hackaton</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">sobre</a></li>
                                <li><a href="#">roteiro colaborativo</a></li>
                            </ul>
                        </li>
                        <li><a href="#" aria-label="Acessar nosso perfil no Instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" aria-label="Acessar nosso perfil no Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" aria-label="Acessar nosso perfil no Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" aria-label="Acessar nosso perfil no TikTok"><i class="fab fa-tiktok"></i></a></li>
                    </ul>
                
                </div>
            </nav>
        </header>

    </main>

    <div class="banner_jp">
        <img src="../static/jovem_social3.png" alt="Banner Jovem Programador" class="banner-image">
    </div>

<!--RENATO-->


<!--FINAL RENATO-->



<!--GUSTAVO-->


<!--FINAL GUSTAVO-->




<!--HUDSON-->


<!--FINAL HUDSON-->




<!--ARISTOTELES-->


<!--FINAL ARISTOTELES-->







    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    
</body>
</html>